#profile {
    display: flex;
    justify-content: center;
    height: 80vh;
    margin-top: 35vh;
    width: 100%;

}

#div_my_picture, #profile_informations {
    height: 60vh;
}

#div_my_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
}

#my_picture {
    border-radius: 50%;
    height: 80%;
    width: 80%;
    border: 1vh solid var(--pallete_color_3);
}

#profile_informations {
    margin-left: 10vh;

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#profile_text {
    display: block;
    align-self: flex-start;
}

#profile_skills {
    display: flex;
    justify-content: space-around;
}


#profile_name {
    font-size: 9vh;
    color: var(--pallete_color_6);
}

#profile_about {
    font-size: 3vh;
    color: var(--pallete_color_5);
}



.skill_icon {
    height: 10vh;
    width: 10vh;
}